.category-4 {
  margin-top: 50px;
  margin-bottom: 50px;

  .container {
    max-width: 1380px;

    .category-4-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      .category-4-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 195px;
        height: 195px;
        border-radius: 20px;
        border: 1px solid #16161614;
        cursor: pointer;

        &-icon {
          width: 66px;
          height: 66px;
          border-radius: 50%;
          background: $theme-fade;
          color: $theme-color;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px dashed $theme-color;
        }

        h5 {
          font-size: 16px;
          font-weight: 600;
          line-height: 28px;
          text-align: center;
          margin-top: 10px;
        }

        p {
          margin-top: 0px;
          font-size: 15px;
          font-weight: 400;
          line-height: 22px;
          text-align: center;
          color: #555;
        }
      }
    }
  }
}
