.client-3 {
  padding: 100px 50px;

  .client-swiper img {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    cursor: pointer;
    filter: grayscale(100%);
    transition: all 0.5s ease;
    &:hover {
      filter: grayscale(0%) contrast(200%);
    }
  }
}
