.counter-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;

  @include breakpoint(max-xxl) {
    flex-wrap: wrap;
    grid-template-columns: initial;
    gap: 30px;
    justify-content: center;
    display: flex;
  }
}


.counter-wrapper-3{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding-left: 15px;

  .counter-box-3 {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    border: 1px solid $border-color;
    text-align: center;
    position: relative;
    @include transition;

    @include breakpoint(max-xxl) {
      margin-right: 0;
      margin-left: 0;
    }

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h2 {
        color: $header-color;
        font-size: 50px;
        @include transition;

        span.count {
          @include transition;
        }
      }
    }

    &:hover,
    &.active {
      background-color: #f1f1f1;
      position: relative;
      z-index: 9;

      .content {
        h2,
        p {
          color: $black;
        }
      }
    }
  }
}