.hero-1 {
  padding: 190px 0 150px;
  position: relative;

  .swiper-dot {
    position: absolute;
    bottom: 20%;
    right: 30%;
    z-index: 9;

    @include breakpoint(max-xl) {
      display: none;
    }
  }

  .hero-content {
    // position: relative;
    z-index: 9;
    // transform: translateY(250px);
    // opacity: 0;
    // visibility: hidden;

    span {
      font-weight: 400;
      color: rgba(255, 255, 255, 0.9);
      display: inline-block;
      margin-bottom: 10px;
    }

    h1 {
      color: $white;
    }

    p {
      color: #d5d5d5;
      margin-top: 10px;
    }

    .hero-button {
      margin-top: 50px;
      @include flex;
      gap: 50px;

      @include breakpoint(max-xl) {
        flex-wrap: wrap;
        gap: 30px;
      }

      .link-btn {
        font-weight: 400;
        color: $white;
        display: inline-block;
        text-decoration: underline;

        &:hover {
          color: $theme-color;
        }
      }
    }

    .review-items {
      @include flex;
      gap: 15px;
      margin-top: 120px;

      @include breakpoint(max-xl) {
        margin-top: 70px;
      }

      @include breakpoint(max-lg) {
        margin-top: 50px;
      }

      @include breakpoint(max-md) {
        margin-top: 40px;
      }

      @include breakpoint(max-sm) {
        margin-top: 30px;
      }

      .content {
        h2 {
          font-size: 32px;
          font-weight: 700;
          color: $white;

          span {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 0;
            color: $white;
          }

          p {
            color: $white;
            opacity: 0.7;
            margin-top: 0px;
          }
        }
      }
    }
  }

  .here-details {
    border-top: 50px solid #346086;
    border-left: 50px solid #346086;
    padding-bottom: 50px;
    border-radius: 58%;
  }
  .hero-content-2 {
    position: relative;
    z-index: 9;

    span {
      font-weight: 400;
      color: rgba(255, 255, 255, 0.9);
      display: inline-block;
      margin-bottom: 10px;
    }

    h1 {
      color: $white;
      font-size: 56px;

      @include breakpoint(max-lg) {
        font-size: 50px;
      }

      @include breakpoint(max-md) {
        font-size: 42px;
      }

      @include breakpoint(max-sm) {
        font-size: 34px;
      }
    }

    p {
      color: #d5d5d5;
      margin-top: 10px;
    }

    .hero-button {
      margin-top: 50px;
      @include flex;
      gap: 50px;

      @include breakpoint(max-xl) {
        flex-wrap: wrap;
        gap: 30px;
      }

      .link-btn {
        font-weight: 400;
        color: $white;
        display: inline-block;
        text-decoration: underline;

        &:hover {
          color: $theme-color;
        }
      }
    }

    .review-items {
      @include flex;
      gap: 15px;
      margin-top: 120px;

      @include breakpoint(max-xl) {
        margin-top: 70px;
      }

      @include breakpoint(max-lg) {
        margin-top: 50px;
      }

      @include breakpoint(max-md) {
        margin-top: 40px;
      }

      @include breakpoint(max-sm) {
        margin-top: 30px;
      }

      .counter-box {
        h2 {
          font-size: 40px;
          font-weight: 700;

          span {
            font-size: 40px;
            font-weight: 700;
          }
        }
        p {
          margin-top: 5px;
          font-size: 18px;
          font-weight: 300;
          color: #d5d5d5;
        }
      }
    }
  }

  .hero-image-items {
    text-align: right;
    position: relative;
    z-index: 9;

    .hero-image {
      // position: relative;
      // transform: translateY(250px);
      // opacity: 0;
      // visibility: hidden;
      // z-index: 9;

      @include breakpoint(max-xl) {
        img {
          @include imgw;
        }
      }
    }

    .bg-shape {
      position: absolute;
      right: 0;
      top: -50%;
      z-index: -1;

      // transform: translateY(250px);
      // opacity: 0;
      // visibility: hidden;

      @include breakpoint(max-xl) {
        display: none;
      }
    }
  }

  .hero-items-image-2 {
    .hero-image-2 {
      img {
        @include imgw;
        border-radius: 12px;
      }
    }

    .hero-right {
      .client-top {
        text-align: center;

        h3 {
          margin-top: 15px;

          b {
            color: #ffbf25;
            font-size: 16px;
          }

          font-size: 16px;
          color: $white;
          text-transform: uppercase;
          font-weight: 400;
        }
      }

      .hero-car-box-items {
        padding: 20px;
        border-radius: 12px;
        border: 1px solid #4376fb;
        background: #082448;
        position: relative;
        margin-top: 32px;
        margin-bottom: 32px;

        .car-titile {
          margin-bottom: 50px;

          h4 {
            font-size: 18px;
            color: $white;
          }

          p {
            font-size: 16px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.8);
          }
        }

        .post-cat {
          position: absolute;
          top: 30px;
          right: 20px;
          color: $header-color;
          font-size: 14px;
          font-weight: 500;
          background-color: $white;
          padding: 6px 12px;
          line-height: 1;
          border-radius: 32px;
        }

        .price-items {
          margin-top: 50px;
          @include flex;
          justify-content: space-between;

          @include breakpoint(max-xxl) {
            gap: 20px;
            flex-wrap: wrap;
          }

          .post-cat-2 {
            padding: 6px 14px;
            border-radius: 32px;
            font-size: 14px;
            font-weight: 400;
            background: rgba(0, 87, 198, 0.9);
            color: $white;
            display: inline-block;
          }

          h4 {
            color: $white;
            font-size: 20px;
            font-weight: 700;
          }
        }

        .car-image {
          img {
            @include imgw;
          }
        }
      }

      .theme-btn {
        width: 100%;
        padding: 17.5px 40px;

        &::before {
          background-color: $white;
        }

        &:hover {
          color: $header-color;
        }
      }
    }
  }

  // .swiper-slide.swiper-slide-active {
  //   .hero-content {
  //     opacity: 1;
  //     transform: translateY(0px);
  //     transition: all 2500ms ease;
  //     visibility: visible;
  //   }

  //   .hero-image-items {
  //     .hero-image {
  //       opacity: 1;
  //       transform: translateY(0px);
  //       transition: all 1500ms ease;
  //       visibility: visible;
  //     }

  //     .bg-shape {
  //       opacity: 1;
  //       transform: translateY(0px);
  //       transition: all 1000ms ease;
  //       visibility: visible;
  //     }
  //   }
  // }
}

.hero-3 {
  margin-top: 24px;

  .hero-left-items {
    padding: 120px 100px;
    border-radius: 12px;

    @include breakpoint(max-xl) {
      padding: 120px 70px;
    }

    @include breakpoint(max-lg) {
      padding: 120px 60px;
    }

    @include breakpoint(max-md) {
      padding: 120px 50px;
    }

    @include breakpoint(max-sm) {
      padding: 120px 40px;
    }

    .hero-content {
      max-width: 420px;
      position: relative;
      z-index: 9;
      transform: translateY(250px);
      opacity: 0;
      visibility: hidden;

      h4 {
        color: #db0000;
        margin-bottom: 15px;
      }

      h1 {
        color: $white;
      }

      .theme-btn {
        margin-top: 40px;

        &::before {
          background-color: $theme-color;
        }
      }
    }
  }

  .hero-right-items {
    padding: 32px 30px;
    height: 536px;
    border-radius: 12px;
    text-align: center;

    h3 {
      color: #db0000;
      margin-bottom: 10px;
    }

    p {
      color: $header-color;
      margin-bottom: 30px;
    }
  }

  .details-list {
    background: rgba(244, 246, 250, 0.5);

    li {
      font-size: 20px;
      font-weight: 400;
      color: $header-color;
      padding: 18px 25px;
      @include flex;
      justify-content: space-between;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(213, 213, 213, 0.5);
      }

      img {
        width: 22px;
        margin-right: 10px;
      }

      span {
        font-weight: 400;
        color: $header-color;
      }

      &:hover {
        a {
          color: $theme-color;
        }

        span {
          color: $theme-color;
        }
      }
    }
  }

  &.style-2 {
    .hero-left-items {
      padding-top: 112px;
    }

    .hero-right-items {
      height: 520px;
    }
  }

  .swiper-slide.swiper-slide-active {
    .hero-content {
      opacity: 1;
      transform: translateY(0px);
      transition: all 2500ms ease;
      visibility: visible;
    }
  }

  .hero-slider-2 {
    position: relative;

    .array-button {
      @include flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: 20px;
      right: 20px;
      z-index: 99;
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
      @include transition;

      @include breakpoint(max-xxl) {
        display: none;
      }

      .array-prev,
      .array-next {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: transparent;
        color: $white;
        border-radius: 50%;
        border: 1px solid $white;

        &:hover {
          background-color: $theme-color;
          color: $white;
          border: 1px solid $theme-color;
        }
      }
    }
  }

  &:hover {
    .array-button {
      opacity: 1;
      visibility: visible;
    }
  }
}

.homepage-3 {
  background: linear-gradient(
    145deg,
    #8d99ae 33.33%,
    #8d99ae 33.33%,
    #346086 66.66%,
    #346086 66.66%
  );
  height: 100vh;
  padding: 120px 0 120px;
  height: auto;
  position: relative;

  .hero-3-slider {
    color: white;
    width: 350px !important;
    height: 450px;

    .swiper-slide {
      background: transparent;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      position: relative;

      img {
        object-fit: cover;
        border-radius: 12px;
        max-width: 100%;
        width: 100%;
        border: 3px solid $white;
      }

      .hero-3-footer {
        position: absolute;
        z-index: 5;
        left: 0px;
        right: 0px;
        bottom: 0px;
        padding: 20px 30px;
        background: rgba(0, 0, 0, 0.5);

        h3 {
          font-size: 24px;
          font-weight: 700;
          color: $white;
        }
      }
    }
  }

  .search-section-3 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background: $white;
    padding: 40px 20px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);

    .search-select-3 {
      outline: none;
      padding: 10px 20px;
      border-radius: 0;

      &:focus {
        outline: none;
      }
    }

    .search-input-3 {
      outline: none;
      padding: 10px 20px;
      border-radius: 0;
    }

    .search-button-3 {
      width: 100%;
      background: $theme-color;
      color: $white;
      padding-top: 10px;
      padding-bottom: 10px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.hero-4 {
  &-container {
    max-width: 1800px;
    background-color: $theme-fade;
    border-radius: 40px;
    border: 1px solid $theme-fade-2;

    .hero-4-left-padding {
      @include breakpoint(lg) {
        padding-left: 100px;
      }
      @include breakpoint(xl) {
        padding-left: 170px;
      }

      @include breakpoint(xxl) {
        padding-left: 188px;
      }
      margin-top: 50px;
      @include breakpoint(lg) {
        margin-top: 0px;
      }
    }

    .hero-4-swiper-container {
      padding: 20px;
      @include breakpoint(md) {
        padding: 30px;
      }
      @include breakpoint(xxl) {
        padding: 10px 75px 25px;
        padding-top: 100px;
      }
      @include breakpoint(xl) {
        padding: 10px 60px 20px;
        padding-top: 80px;
      }
      @include breakpoint(xl) {
        padding: 10px 50px 20px;
        padding-top: 60px;
      }
    }

    .hero-4-left-content {
      .hero-4-offer {
        color: $text-color-2 !important;
        font-size: 16px;
        font-weight: 500;
        span {
          color: $theme-color;
        }
      }

      .hero-4-title {
        color: $black;
        font-size: 48px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: -0.03em;
        text-align: left;
        margin-top: 15px;
        margin-bottom: 15px;
        @include breakpoint(xxl) {
          margin-top: 30px;
          margin-bottom: 30px;
        }
        @include breakpoint(xl) {
          margin-top: 25px;
          margin-bottom: 25px;
        }
        @include breakpoint(lg) {
          margin-top: 30px;
          margin-bottom: 20px;
        }
        @include breakpoint(md) {
          margin-top: 30px;
          margin-bottom: 30px;
        }
        @include breakpoint(sm) {
          margin-top: 20px;
          margin-bottom: 20px;
        }
        text-transform: unset;
      }

      .hero-4-subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.01em;
        text-align: left;
        color: $text-color-2;
      }

      .hero-4-specification {
        background-color: $white;
        width: fit-content;
        border-radius: 20px;
        padding: 30px;
        margin-top: 30px;
        gap: 30px;

        @include breakpoint(xxl) {
          padding: 30px;
          margin-top: 30px;
          gap: 30px;
        }
        @include breakpoint(xl) {
          padding: 25px;
          margin-top: 25px;
          gap: 25px;
        }
        @include breakpoint(lg) {
          padding: 20px;
          margin-top: 20px;
          gap: 20px;
        }

        align-items: center;
        display: flex;

        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: -0.01em;
          text-align: left;
          color: #bebebe;
          margin-bottom: 8px;
          @include breakpoint(xxl) {
            margin-bottom: 18px;
          }
          @include breakpoint(xl) {
            margin-bottom: 15px;
          }
          @include breakpoint(lg) {
            margin-bottom: 12px;
          }
        }

        hr {
          width: 1px;
          background: #000;
        }

        h5 {
          font-size: 24px;
          font-weight: 600;
          line-height: 26px;
          letter-spacing: -0.01em;
          text-align: left;
          color: $text-color-2;
        }

        .hero-4-colors {
          .colors {
            display: flex;
            align-items: center;
            gap: 10px;

            div:nth-child(1) {
              background: #770215;
              width: 16px;
              height: 16px;
              border-radius: 50%;
            }

            div:nth-child(2) {
              background: #e9cf10;
              width: 16px;
              height: 16px;
              border-radius: 50%;
            }

            div:nth-child(3) {
              background: #35424b;
              width: 16px;
              height: 16px;
              border-radius: 50%;
            }
          }
        }
      }

      .hero-4-btns {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 55px;

        button {
          padding: 10px 20px;
          color: $white;
          font-size: 16px;
          font-weight: 600;
          line-height: 26px;
          letter-spacing: -0.01em;
          border-radius: 100px;
        }

        button:first-child {
          background: $theme-color;
        }

        button:last-child {
          background: $black;
        }
      }
    }

    .hero-4-right-content {
      .hero-4-main-img {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include breakpoint(lg) {
          max-width: 450px;
        }

        img {
          @include breakpoint(sm) {
            max-width: 470px;
            max-height: 575px;
          }
          width: 100%;
          height: 100%;
        }

        .hero-4-bgs {
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: -10;

          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .hero-4-pagination {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          margin-top: 50px;
          z-index: 1;

          div {
            div {
              width: 7px;
              height: 7px;
              background: $text-color;
              border-radius: 50%;
              cursor: pointer;
            }

            &.active {
              padding: 8px;
              background: transparent;
              border: 1px solid $theme-color;
              border-radius: 50%;
              cursor: pointer;

              div {
                background: $theme-color;
              }
            }
          }
        }
      }

      .hero-4-slider-navigation {
        display: flex;
        align-items: end;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        gap: 30px;

        div {
          width: 114px;
          height: 114px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: $theme-fade;
          cursor: pointer;

          div.ash {
            background-color: #b2beb5;
            width: 60px;
            height: 60px;
          }

          div.black {
            background-color: #000;
            width: 60px;
            height: 60px;
          }

          div.yellow {
            background-color: #e9cf10;
            width: 60px;
            height: 60px;
          }

          &.active {
            background: $white;
          }
        }
      }
    }
  }
}
