.home-car-details-3 {
  background: linear-gradient(90deg, #E8F5E9 33.33%, #EDE7F6 33.33%, #EDE7F6 66.66%, #E0F7FA 66.66%);
  @include breakpoint(md){
    background: linear-gradient(90deg, #E8F5E9 33.33%, #EDE7F6 33.33%, #EDE7F6 66.66%, #E0F7FA 66.66%);
    transform: perspective(1000px) rotateX(10deg);
  }
  box-shadow: 0 0 18px #dbdbdb;
  backdrop-filter: drop-shadow(27px 19px 21px red);
  margin: 100px 50px;
  padding: 20px;
  color: black;

  &-title {
    h2 {
      font-size: 45px;
      font-weight: 700;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      margin-bottom: 20px;
      color: #404040;
    }
  }

  &-card {
    background: repeating-linear-gradient(45deg, #ffffff80, #ffffff80 10px, #eeeeee80 10px, #eeeeee80 20px);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(255 255 255);
    padding: 10px;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid $border-color;
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
    height: auto;
    h4{color: #4376fb}

    img {
      max-width: 200px;
      width: 100%;
      height: auto;
    }
  }

  .main-image {
    max-width: 100%;
    width: 100%;
    @include breakpoint(xl){
      width: 130%;
      max-width: 150%;
      margin-left: -120px;
    }
  }

  .left-side {
    .navigate-btn {
      display: inline-block;
      padding: 20px 30px;
      background-color: $theme-color;
      border-radius: 20px;
      font-size: 20px;
      font-weight: 600;
      color: $white;
    }
  }

  .checked {
    color: orange;
  }
}