.order-details {
  .right-side {
    border: 1px solid $border-color-2;
    border-radius: 8px;
    display: block;

    .heading {
      padding: 16px 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      div {
        h5 {
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;
          text-align: left;

          color: $text-color-2;
        }

        span {
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          text-align: left;

          color: $text-fade;
        }

        .circle {
          width: 6px;
          height: 6px;
          background-color: $text-fade;
          border-radius: 50%;
        }
      }

      a.back-to-list {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;

        color: $theme-color;
      }
    }

    .main-info {
      margin: 24px;

      .addresses {
        border: 1px solid $border-color-2;
        border-radius: 8px;
        display: flex;
        gap: 0;

        .billing-address,
        .shipping-address {
          flex: 1;
          border-right: 1px solid $border-color-2;

          .title {
            padding: 18px 20px;
            border-bottom: 1px solid $border-color-2;

            p {
              font-size: 14px;
              font-weight: 500;
              line-height: 14px;
              letter-spacing: 0.03em;
              text-align: left;
              color: #999;
              text-transform: uppercase;
            }
          }

          .info {
            padding: 18px 20px;

            .name {
              font-size: 16px;
              font-weight: 400;
              line-height: 26px;
              text-align: left;
              color: $text-color-2;
            }

            .address {
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
              text-align: left;
              color: #666;
              margin-top: 8px;
            }

            .email {
              .title {
                margin-top: 30px;
                font-size: 12px;
                font-weight: 500;
                line-height: 12px;
                letter-spacing: 0.03em;
                text-align: left;
                border: 0;
                padding: 0;
                text-transform: uppercase;
                color: #999;
              }

              .email {
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                text-align: left;
                color: $text-color-2;
                margin-top: 5px;
              }
            }

            .phone {
              .title {
                margin-top: 12px;
                font-size: 12px;
                font-weight: 500;
                line-height: 12px;
                letter-spacing: 0.03em;
                text-align: left;
                border: 0;
                padding: 0;
                text-transform: uppercase;
                color: #999;
              }

              .phone {
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                text-align: left;
                color: $text-color-2;
                margin-top: 5px;
              }
            }
          }
        }

        .shipping-address {
          border-right: 0;
        }
      }

      .payment {
        border-radius: 8px;
        border: 1px solid $border-color-2;

        &-heading {
          padding: 18px 20px;
          display: flex;

          &-order,
          &-method {
            flex: 1;
            p {
              font-size: 12px;
              font-weight: 500;
              line-height: 12px;
              letter-spacing: 0.03em;
              text-align: left;
              color: #999;
              text-transform: uppercase;
            }

            span {
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
              text-align: left;
              color: $text-color-2;
            }
          }
        }

        &-details {
          padding: 0px 20px;
          margin-top: 5px;

          &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px 0;

            p {
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
              text-align: left;
              color: #666;
            }

            span {
              font-size: 14px;
              font-weight: 500;
              line-height: 21px;
              text-align: left;
              color: $text-color-2;
            }

            &-total {
              color: $text-color-2 !important;
            }

            &-price {
              color: $theme-color !important;
            }
          }
        }
      }

      .order-details-bottom {
        .order-details-status {
          .progress-tracker {
            position: relative;
            margin: 20px auto;
            padding: 0;
            list-style: none;
          }

          .progress-step {
            width: 25%;
            float: left;
            position: relative;
            text-align: center;
          }

          .progress-step:before {
            content: attr(data-step);
            width: 35px;
            height: 35px;
            @include breakpoint(md) {
              width: 38px;
              height: 38px;
            }
            @include breakpoint(lg) {
              width: 40px;
              height: 40px;
            }
            line-height: 36px;
            border: 1px dashed $theme-color;
            background-color: white;
            border-radius: 50%;
            display: block;
            margin: 0 auto 10px;
            position: relative;
            z-index: 2;
            font-weight: 400;
            color: $theme-color;
          }

          .progress-step:after {
            content: "";
            position: absolute;
            top: 18px;
            left: 50%;
            width: 100%;
            height: 6px;
            background-color: $theme-fade;
            z-index: 1;
          }

          .progress-step:last-child:after {
            display: none;
          }

          .progress-step.completed:before {
            background-color: #4376fb;
            border-color: #4376fb;
            color: white;
          }

          .progress-step.active:before {
            border-color: #4376fb;
            background-color: white;
            color: #4376fb;
          }

          .progress-step.completed:after {
            background-color: #4376fb;
          }

          .step-title {
            font-size: 14px;
            color: $theme-color;
            margin-top: 5px;
          }

          .progress-step.completed .step-title,
          .progress-step.active .step-title {
            color: #4376fb;
            font-weight: 400;
          }
        }

        .order-details-table {
          .product-img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 4px;
          }

          .table > :not(caption) > * > * {
            padding: 1rem;
            background: transparent;
          }

          .product-name {
            font-weight: 500;
            font-size: 14px;
            color: $text-color-2;
          }

          .table-header {
            font-size: 12px;
            color: #5f5f5f;
            font-weight: 500;
            background-color: $theme-fade !important;
          }

          .price,
          .quantity {
            font-weight: 400;
            font-size: 14px;
            color: $text-color-2;
          }

          .subtotal {
            font-weight: 500;
            font-size: 14px;
            color: $text-color-2;
          }
        }
      }
    }
  }
}
