.user-dashboard-wrapper {
  .left-side {
    width: 100%;
    background: transparent;
    border: 1px solid $border-color-2;
    border-radius: 8px;

    p {
      font-weight: 500;
      font-size: 20;
      color: $text-color-2;
      padding: 14px 20px;
    }

    .navigation-list {
      li a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        padding: 14px 0px;
        color: $text-fade !important;
        padding: 14px 20px;
        font-weight: light;

        i {
          font-size: 18px;
        }
      }

      li.active a {
        color: $text-color-2 !important;
        background-color: $theme-fade;
      }

      li.active {
        border-left: 3px solid $theme-color;
      }
    }
  }

  .right-side {
    display: grid;
    gap: 24px;

    .top {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 24px;

      .profile,
      .billing {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .profile {
        max-width: 535px;
        width: 100%;
        padding: 30px;
        border: 1px solid $border-color-2;
        border-radius: 8px;
        align-items: center;

        img {
          width: 120px;
          height: 120px;
          object-fit: cover;
          border-radius: 50%;
        }

        h5 {
          font-size: 20px !important;
          font-weight: 500;
          line-height: 30px;
          text-align: center;
          color: $text-color-2 !important;
          margin-top: 10px;
        }

        p {
          font-weight: 400;
          text-align: center;
          line-height: 21px;
          color: #808080 !important;
          font-size: 14px;
        }

        button {
          margin-top: 10px;
          font-size: 16px !important;
          text-align: center;
          color: $theme-color;
          font-weight: 500;
        }
      }

      .billing {
        flex: 1;
        padding: 30px;
        border: 1px solid $border-color-2;
        border-radius: 8px;
        height: 100%;

        .title {
          font-size: 14px;
          font-weight: 500;
          line-height: 14px;
          letter-spacing: 0.03em;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          text-transform: uppercase;
          color: #999999 !important;
          margin-bottom: 16px;
        }

        .name {
          font-size: 18px;
          font-weight: 500;
          line-height: 27px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: $text-color-2 !important;
        }

        .address {
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #666666;
          margin: 8px 0;
        }

        .email {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: $text-color-2;
          margin-bottom: 6px;
        }

        .phone {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: $text-color-2;
        }

        button {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: $theme-color;
          margin-top: 20px;
        }
      }
    }

    .bottom {
      padding: 16px 0;
      border-radius: 8px;
      border: 1px solid $border-color-2;

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 24px 16px;

        h5 {
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: $text-color-2;
        }

        a {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: $theme-color;
          transition: all 0.3s ease;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      table {
        .table-head {
          th {
            padding: 16px 24px !important;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            letter-spacing: 0.03em;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            text-transform: uppercase;
            color: #4d4d4d;
            background-color: $theme-fade;
          }
        }

        tbody {
          td {
            padding: 12px 24px !important;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #333;

            a.view-details {
              color: $theme-color;
              font-weight: 500;
              transition: all 0.3s ease;
              font-size: 14px;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
