:root {
  --body: #fff;
  --black: #000;
  --white: #fff;
  --theme: #4376fb;
  --theme2: #ffbf25;
  --header: #000000;
  --text: #555555;
  --border: #d5d5d5;
  --bg: #f4f6fa;
  --box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
  --footer: #0a111e;
}

// Theme Color - Defualt Colors
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme);
$theme-color-2: var(--theme2);
$text-color: var(--text);
$header-color: var(--header);
$border-color: var(--border);
$bg-color: var(--bg);
$shadow: var(--box-shadow);
$footer-3: var(--footer);
