//  Sway animation start here ***
@keyframes sway {
	0% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(0px);
	}
}
.sway__animation {
	animation: sway 2s linear infinite alternate;
}
//  Sway animation start here ***
